@import "list-group.css";
@import "badge.css";
@import "btn.css";
@import "card.css";
@import "form.css";
@import "sub-nav.css";
@import "text.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: bg-zinc-50;
}

.container {
    @apply max-w-6xl mx-auto;
}

.header {
    @apply mb-4;
}

.well {
    @apply bg-zinc-300 p-3 rounded-md;
}

h1 {
    @apply text-4xl font-bold mb-4 tracking-tight;
}

h1 + .meta {
    @apply -mt-3 mb-2;
}

h1 + .subtitle {
    @apply -mt-2 mb-4 text-sm;
}

.breadcrumbs + h1 {
    @apply mt-1.5;
}

h2 {
    @apply text-3xl font-semibold mb-3 tracking-tight;
}

.link {
    @apply text-blue-600 underline;
}

.link:hover {
    @apply text-blue-800;
}

.full-body-scroll-column {
    @apply overflow-y-scroll;
    /** 65px is the approximate height of the navbar **/

    /** TODO: we need a better value for calc **/
    max-height:  calc(100vh - 65px);
}

.meta {
    @apply flex items-center space-x-4 text-zinc-500;
}

.meta-item {
    @apply px-2 py-0.5 flex items-center;
}

.meta-item .icon {
    @apply mr-1.5 h-4 w-4;
}

.sortable-chosen .sortable-chosen-hide {
    display: none;
}

@media(prefers-color-scheme: dark) {
    body {
        @apply bg-zinc-800 text-zinc-50;
    }

    .link {
        @apply text-blue-400 underline;
    }

    .link:hover {
        @apply text-blue-500;
    }

    .well {
        @apply bg-zinc-900;
    }

    .meta {
        @apply text-zinc-500;
    }
}

@media(max-width: 768px) {
    main {
        @apply mx-2;
    }
}

