:root {
    --duet-color-primary: #005fcc;
    --duet-color-text: #333;
    --duet-color-text-active: #fff;
    --duet-color-placeholder: #666;
    --duet-color-button: #f5f5f5;
    --duet-color-surface: #fff;
    --duet-color-overlay: rgba(0, 0, 0, 0.8);
    --duet-color-border: theme(colors.zinc.600);
}


@media(prefers-color-scheme: dark) {
    :root {
        --duet-color-primary: theme(colors.blue.400);
        --duet-color-text: #fff;
        --duet-color-text-active: #fff;
        --duet-color-placeholder: #aaa;
        --duet-color-button: #444;
        --duet-color-surface: theme(colors.zinc.700);
        --duet-color-overlay: rgba(0, 0, 0, 0.8);
        --duet-color-border: theme(colors.zinc.500);
        --duet-font-normal: 400;
        --duet-font-bold: 600;
    }

}
